body{
  font-family: 'Open Sans', sans-serif;
  display: flex;
  background-color: #121212;
  color: white;
  justify-content: center;
  margin: 20px auto;
}
#chart-container{
  width: calc(100% - 2px);
  height: 100%;
}
#defaultCanvas0{
  border: 1px solid #616467;
}
.canvasjs-chart-canvas {
  border: 1px solid #616467;
}
.canvasjs-chart-credit{
  display: none;
}
.canvas-heading{
  font-family: 'Open Sans', sans-serif;
  padding: 10px 15px;
  background-color: #272727;
  background-color: #272727;
  border: 1px solid #616467;
  border-bottom: transparent;
  color: white;
  line-height: 25px;
}
.bounding-box-chart{
  margin-left: 30px;
  width: calc(100% - 550px);
  height: calc(100% - 100px);
}