body{
  font-family: 'Open Sans', sans-serif;
  background-color: #121212;
  color: white;
  justify-content: center;
  margin: 25px auto;
}
#chart-container{
  width: calc(100% - 2px);
  height: 100%;
}
#defaultCanvas0{
  border: 1px solid #616467;
}
.canvasjs-chart-canvas {
  border: 1px solid #616467;
}
.canvasjs-chart-credit{
  display: none;
}
.canvas-heading{
  position: relative;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 15px;
  background-color: #272727;
  background-color: #272727;
  border: 1px solid #616467;
  border-bottom: transparent;
  color: white;
  line-height: 25px;
}
.canvas-heading p{
  margin: 0px;
}
.bounding-box-chart{
  margin-left: 25px;
  width: calc(100% - 425px);
  height: 400px;
}
#gen-counter{
  position: absolute;
  right: 19px;
  top: 10px;
}
.row{
  display: flex;
  margin: auto;
  width: calc(100% - 50px);
}
.bestof-counter{
  position: relative;
  border: 1px solid #616467;
  margin-left: 25px;
  width: calc(50% - 227px);
  height: 400px;
  background-color: #101111;
}
.bestof-counter .canvas-heading {
  border: 0px;
  border-bottom: 1px solid #616467;;
}
.best-counter{
  position: absolute;
  top: calc(50% + 23px);
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vw;
  margin: 0;
}
#best-len{
  color: #1ed760;
}
#best-fit{
  color: #af2896;
}
#control-panel{
  width: 402px;
  margin-left: 0px;
}
#row2{
  margin-top: 24px;
}