body{
  display: flex;
  background-color: #121212;
}
#chart-container{
  margin-left: 75px;
  width: calc(100% - 550px);
  height: calc(100% - 100px);
}
#canvas-container{
}
#defaultCanvas0{
  border: 1px solid #616467;
}
.canvasjs-chart-canvas {
  border: 1px solid #616467;
}